.post-content blockquote {
    border-left: 4px solid #49b1f5; /* 左侧边框颜色和粗细 */
    background-color: rgba(73, 177, 245, .1); /* 背景颜色和透明度 */
    color: #555; /* 文字颜色 */
    border-radius: 8px; /* 边框圆角 */
    padding: 20px 25px; /* 内边距 */
    margin: 20px 0; /* 外边距 */
}

/* 修改深色模式下的引用样式 */
[data-theme="dark"] .post-content blockquote {
    border-left-color: #ffcc00;
    background-color: rgba(255, 204, 0, .1);
    color: #bbb;
}

blockquote.custom-quote {
    border-left: 5px solid #ff6b6b;
    background-color: rgba(255, 107, 107, 0.05);
    font-style: italic;
}

[data-theme="dark"] blockquote.custom-quote {
    border-left-color: #ffcc00;
    background-color: rgba(255, 204, 0, 0.05);
}